body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    min-width: 1562px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 30px 350px 150px;
    gap: 100px;
    min-width: 1680px;
}

.bottom, .top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bottom {
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 430px;
    min-width: 290px;
}

ul {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

button {
    padding: 5px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 2px;
    border-radius: 10px;
    background-color: #3382F6;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hold-image {
    width: 620px;
    height: 270px;
    background-color: #999ba0;
    text-align: center;
    padding: 90px 50px;
    flex-shrink: 0;
}

a, .a{
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-txt {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    padding: 50px 350px 150px;
    gap: 50px;
    min-width: 1680px;
}

.info-txt {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.img-contain {
    display: flex;
    gap: 50px;
}

.img-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 10px;
}

.sub {
    text-align: center;
}

.image {
    width: 180px;
    height: 180px;
    border: 3px;
    border-color: #3382F6;
    border-style: solid;
    border-radius: 10px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0px 405px;
    gap: 30px;
    min-width: 1680px;
    height: 516px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
    width: 870px;
}

.spkr {
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
    margin-right: 120px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 350px;
    min-width: 1680px;
    height: 400px;
}

.in-color {
    background-color: #3382F6;
    color: #E5E7EB;
    width: 980px;
    padding: 40px;
    border: 10px;
    border-radius: 10px;
}

.four button {
    border-style: solid;
    border-color: #E5E7EB;
}

